#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
body {
  background: linear-gradient(to bottom right, #be1919, #581c87, #1e293b);
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
}

.contenedor-principal {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #AEC5EB;
  border-radius: 20px;
  /*Aplica una sombra para crear un efecto de profundidad. 
  Esto crea un efecto de que el elemento flota sobre el fondo*/
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  /*Esto oculta todo el contenido hijo de este contenedor que se salga de los bordes de este contenedor*/
  overflow: hidden;
}

.header {
  /*Esto permite a単adir un gradiente, para indicar la horientazion 
  del gradiente indicamos hacia que direccion en nuesto caso es hacia la derecha (to right)*/
  background: linear-gradient(to right, #44a55c, #8f9125);
  color: white;
  padding: 40px;
  text-align: center;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  /*Esto redondea la foto para que sea un circulo por que la imagen original es un cuadrado*/ 
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 48px;
  margin: 10px 0;
}

.header h2 {
  font-size: 24px;
  font-weight: normal;
  opacity: 0.9;
  margin: 10px 0;

}
.seccion {
  padding: 30px;
  margin: 20px;
  background-color: #f9fafb;
  border-radius: 10px;
}

.titulo-seccion {
  font-size: 24px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 15px;
}

.lista-habilidades {
  /*Permite que los elementos contenidos dentro ajusten su tama単o dependiendo del tama単o disponible*/
  display: flex;
  /*Esto indica que si el contenedor no es lo suficientemente ancho los elementos 
  pueden ocupar multiples lineas de lo contrario ocuparan solo una */
  flex-wrap: wrap;
  gap: 10px;
  /*A単adi un justify content para poder centrar la lista de habilidades*/
  justify-content: center;
}

.habilidad {
  background: linear-gradient(to right, #ede9fe, #dbeafe);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #9333ea;
  font-weight: bold;
  color: #1f2937;
}

.item-experiencia {
  border-left: 4px solid #9333ea;
  padding-left: 20px;
  margin-bottom: 20px;
}

.item-experiencia h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
  margin: 5px 0;
}

.empresa {
  color: #9e1d28;
  font-weight: bold;
  margin: 5px 0;
}

.periodo {
  background-color: #bfcadf;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  margin: 5px 0;
  color: #4b5563;
  
}
.text {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}