#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom right, #3d0606, #581c87, #1e293b);
  min-height: 100vh;
  min-width: 51vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2{
  font-size: 50px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
/*Estilos para RenderLista*/
.lista-container {
  padding: 15px;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #a389d2, #496eb8);
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  width: 513px;
  padding: 20px;
  margin: 15px;
  
  

}
.card-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
  border: 2px solid #e4e4e4;
}
.card-info {
  flex-grow: 1; /* Ocupa el espacio restante */
  text-align: center;
}
.card-info h3 {
  margin: 0;
  font-size: 30px;
}

.card-info p {
  margin: 5px 0 0;

  font-size: 20px;
  color: #000000;
}

/*Estilos para el boton*/
.btn-cargar {
  background: #4a73ff;
  color: #fff;
  padding: 12px 22px;
  border-radius: 12px;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 500;
  border: 1px solid transparent;
  font-size: 35px;
  width: 350px;
}




