#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/
body {
  background-color: #000000;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin: 0;
}

.contenedor-principal {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  /*Aplica una sombra para crear un efecto de profundidad. 
  Esto crea un efecto de que el elemento flota sobre el fondo*/
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  /*Esto oculta todo el contenido hijo de este contenedor que se salga de los bordes de este contenedor*/
  overflow: hidden;
}

.header {
  /*Esto permite a単adir un gradiente, para indicar la horientazion 
  del gradiente indicamos hacia que direccion en nuesto caso es hacia la derecha (to right)*/
  background: linear-gradient(to right, #44a55c, #8f9125);
  color: white;
  padding: 40px;
  text-align: center;
}

.foto {
  width: 150px;
  height: 150px;
  border: 4px solid white;
  margin-bottom: 20px;
}


.reproductor {
  padding: 5px;
  margin: 0 60px;
  background-color: #f9fafb;
  border-radius: 10px;
  display: flex;
}
.descripcion {
  padding: 5px;
  margin: 5px 20px;
  background-color: #f9fafb;
  border-radius: 10px;
  height: 160px;
  overflow: hidden;
  display: flex;
}
.progress-ba {
  padding: 5px;
  margin: 7px;
  background-color: #f9fafb00;
  border-radius: 10px;
  display: flex;
}

.titulo-seccion {
  font-size: 40px;
  font-weight: bold;
  color: #1f2937;
  margin-top: 15px;
  margin-bottom: -10px;
}
.subtitulo {
  font-size: 20px;
  color: #92959a;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}
.lista-habilidades {
  /*Permite que los elementos contenidos dentro ajusten su tama単o dependiendo del tama単o disponible*/
  display: flex;
  /*Esto indica que si el contenedor no es lo suficientemente ancho los elementos 
  pueden ocupar multiples lineas de lo contrario ocuparan solo una */
  flex-wrap: wrap;
  gap: 10px;
  /*A単adi un justify content para poder centrar la lista de habilidades*/
  justify-content: center;
}

.habilidad {
  background: linear-gradient(to right, #ede9fe, #dbeafe);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #9333ea;
  font-weight: bold;
  color: #1f2937;
}

.item-experiencia {
  border-left: 4px solid #9333ea;
  padding-left: 20px;
  margin-bottom: 20px;
}

.item-experiencia h3 {
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
  margin: 5px 0;
}

.empresa {
  color: #9e1d28;
  font-weight: bold;
  margin: 5px 0;
}

.periodo {
  background-color: #bfcadf;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 14px;
  margin: 5px 0;
  color: #4b5563;
  
}
.text {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
  margin-top: 0;
}


.cuadrado {
  border: 1px solid rgba(0, 0, 0, 0.507);
  background-color: #f9fafb;
  padding: 1px 15px;
  display: flex;
  align-items: center;
  margin: 1px 5px;

}
.cuadrado-invi {
  padding: 10px 15px;
}
.progress-bar {
  width: 100%;
  margin: 10px;
}
.checkboxes-container {
  display: flex;
  justify-content: space-between; /* columnas en los extremos del contenedor padre */
  width: 80%;
  margin: 10px 37px;   
}

.checkbox-column {
  display: flex;
  flex-direction: column; /* apilar checkboxes verticalmente */
  gap: 1px;              /* espacio entre checkboxes de la misma columna */
}

.checkbox-item {
  display: flex;
  align-items: center; /* centra texto y checkbox verticalmente */
  gap: 5px;            /* espacio entre checkbox y texto */
  cursor: pointer;     /* opcional, para que el cursor cambie al pasar sobre el texto */
  color: black;
}
.buscador{
  border-radius: 15px;
  margin: 20px;
  padding: 5px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.507);
}
.emojis{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.emoji-gris{
  font-size: 25px;
  margin: 7px;
  filter: grayscale(100%);
}
.emoji-central{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  font-size: 40px;
  margin: 7px;
}
.navegacion{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navegacion > div {
  margin: 10px 50px;
  font-size: 25px;
  color: #000000;
}
.navegacion-border {
  width: 90%;       /* ancho del borde */
  height: 1px;
  background: #9b9393;
  margin: 0 auto;   /* esto lo centra */
}
.border{
  width: 50%;       /* ancho del borde */
  height: 5px;
  background: #9b9393;
  margin: 0 auto;   /* esto lo centra */
  border-radius: 5px;
  margin-top: 35px;
  margin-right: 300px;
  margin-left: 27px;
}
